<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--The world is your oyster.-->
 <!---- <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>--> 
 <!--<ion-input placeholder="type message" [(ngModel)]="text"></ion-input>-->
 <ion-item>
  <ion-label floating>PHONE NUMBER</ion-label>
   <ion-input type="tel" [(ngModel)]="PHONE"></ion-input>
 </ion-item>
 <ion-fab bottom right>
   <button ion-fab (click)="callNumbers()">
     <ion-icon name="call"></ion-icon>
   </button>
 </ion-fab>
 <form [formGroup]="formgroup">
<ion-list>
<ion-item>
    <ion-label floating>firstname</ion-label>
    <ion-input [(ngModel)]="text" formControlName="firstname"></ion-input>
  </ion-item>
  <ion-item *ngIf="(firstname.hasError('maxlength') && firstname.hasError('pattern') && firstname.touched)">
   <p> * enter a valid name </p>
  </ion-item>
  <ion-item>
    <ion-label floating>contact</ion-label>
    <ion-input [(ngModel)]="number" formControlName="contact"></ion-input>
  </ion-item>
  <ion-item *ngIf="contact.hasError('required') && contact.touched">
      <p> * contact is required </p>
  </ion-item>
  <button ion-button full (click)="gotopage()">submit</button>
</ion-list>
 </form>

</ion-content>
